* {
  font-family: monospace;
}

body {
  background-color: yellow;
}

header {
  text-align: center;
}

section {
  text-align: center;
}

p {
  font-size: 18px;
}

#start-btn {
  text-align: center;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

#clock {
  text-align: right;
}

.button {
  
  text-align: center;
  
}