body {
  background-color: yellow;
}

header {
  text-align: center;
}

section {
  text-align: center;
}

#start-button {
  text-align: center;
}

#clock {
  text-align: right;
}

.button {
  
  text-align: center;
  
}